.service{
    padding-top: 340px;
    ul{
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        li{
            width: 416px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 80px 40px;
            border: 1px solid #525252;
            border-radius: 16px;
            h3{
                margin-top: 25px;
                font-weight: 900;
                font-size: 32px;
                line-height: 120%;
                color: #FFFFFF;
            }
            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #F2F2F2;
                margin-top: 20px;
            }
        }
    }
}
.service-header{
    display: flex;
    justify-content: space-between;
}
.service-text-h{
    width: 40%;
    h2{
        font-weight: 900;
        font-size: 32px;
        line-height: 120%;
        color: #FFFFFF;
    }
}
.service-text-p{
    p{
        font-weight: 900;
        font-size: 48px;
        line-height: 120%;
        color: #FFFFFF;
    }
}
/*------------------以下響應式------------------*/


@media(max-width:992px)  {
    .service {
        padding-top: 250px;
        ul{
            flex-direction: column;
            align-items: center;
            h3{
                font-size: 32px;
            }
        } 
    }
    .service-header{
        flex-direction: column;
    }
    .service-text-p{
        p{
            margin-top: 40px;
        }
    }
}
@media(max-width:480px)  {
    .service {
        padding: 50px 12px 10px 12px;
        ul{
            margin-top: 48px;
            li{
                width: 100%;
                padding: 40px 20px;
                margin-top: 16px;
            }
        }
    }
}
@media(max-width:374px)  {
    .service {
        padding: 80px 12px 10px 12px;
    }
}


